@import "mixins";

$background-color-dark: #36393f;
$darker-background-color-dark: #202225;
$foreground-color-dark: #18191c;
$darker-foreground-color-dark: #18191c;

$select-color-dark: #4551c5;
$error-color-dark: #ed4043;
$success-color-dark: #32a662;
$contrast-color-dark: #dcddde;

$weight: 95%; // not lower than 80 or contrast gets really bad
$background-color-light: invert($background-color-dark, $weight);
$darker-background-color-light: invert($darker-background-color-dark, $weight);
$foreground-color-light: invert($foreground-color-dark, $weight);
$darker-foreground-color-light: invert($darker-foreground-color-dark, $weight);


$select-color-light: lighten($select-color-dark, 100 - $weight);
$error-color-light: lighten($error-color-dark, 100 - $weight);
$success-color-light: lighten($success-color-dark, 100 - $weight);
$contrast-color-light: invert($contrast-color-dark, $weight);

body {
  background-color: $background-color-light;
  color: $contrast-color-light;

  @include darkMode() {
    background-color: $background-color-dark;
    color: $contrast-color-dark;
  }
}

.section-controls {
  background-color: $darker-foreground-color-light;

  @include darkMode() {
    background-color: $darker-foreground-color-dark;
  }
}


.top-navigator {
  svg {
    box-shadow: 0 0 10px $contrast-color-light;
    @include darkMode() {
      box-shadow: 0 0 10px $contrast-color-dark;
    }
  }
}


.loading {
  background-color: $background-color-light;

  @include darkMode() {
    background-color: $background-color-dark;
  }
}

.svg-button {
  .background {
    fill: $background-color-light;
  }

  .foreground {
    fill: $contrast-color-light;
  }

  &:hover:not(.disabled) {
    .background {
      fill: $select-color-light;
    }
  }

  &.disabled {
    .foreground {
      fill: lighten($contrast-color-light, 35%);
    }
  }

  @include darkMode() {
    .background {
      fill: $background-color-dark;
    }

    .foreground {
      fill: $contrast-color-dark;
    }

    &:hover:not(.disabled) {
      .background {
        fill: $select-color-dark;
      }
    }

    &.disabled {
      .foreground {
        fill: darken($contrast-color-dark, 55%);
      }
    }
  }
}

.delete-button {
  .background {
    fill: $error-color-light;
  }

  &:hover:not(.disabled) {
    .background {
      fill: lighten($error-color-light, 5%);
    }

    .foreground {
      fill: lighten($contrast-color-light, 5%);
    }
  }

  @include darkMode() {
    .background {
      fill: $error-color-dark;
    }

    &:hover:not(.disabled) {
      .background {
        fill: lighten($error-color-dark, 5%);
      }

      .foreground {
        fill: lighten($contrast-color-dark, 5%);
      }
    }
  }
}

.undo-button:not(.disabled) {
  .background {
    fill: $error-color-light;
  }

  .foreground {
    fill: $contrast-color-light;
  }

  &:hover {
    .background {
      fill: lighten($error-color-light, 5%);
    }

    .foreground {
      fill: lighten($contrast-color-light, 5%);
    }
  }

  @include darkMode() {
    .background {
      fill: $error-color-dark;
    }

    .foreground {
      fill: $contrast-color-dark;
    }

    &:hover {
      .background {
        fill: lighten($error-color-dark, 5%);
      }

      .foreground {
        fill: lighten($contrast-color-dark, 5%);
      }
    }
  }
}

.apply-button:not(.disabled) {
  .background {
    fill: $success-color-light;
  }

  &:hover {
    .background {
      fill: lighten($success-color-light, 5%);
    }

    .foreground {
      fill: lighten($contrast-color-light, 5%);
    }
  }

  @include darkMode() {
    .background {
      fill: $success-color-dark;
    }
    &:hover {
      .background {
        fill: lighten($success-color-dark, 5%);
      }

      .foreground {
        fill: lighten($contrast-color-dark, 5%);
      }
    }
  }
}

.form-wrapper {
  background-color: $darker-background-color-light;

  @include darkMode() {
    background-color: $darker-background-color-dark;
  }
}

.form {
  input, textarea {
    outline: none;
    border-bottom: none;
    border-right: none;
    border-width: 1px;

    border-color: $contrast-color-light;
    background-color: $background-color-light;
    color: $contrast-color-light;

    @include darkMode() {
      border: none;
      background-color: $background-color-dark;
      color: $contrast-color-dark;
    }

    &:focus {
      border-radius: 2px;
      border-style: solid;
      border-width: 2px;
      border-color: $select-color-light;

      @include darkMode() {
        border-color: $select-color-dark;
      }
    }
  }

  input[type=submit] {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: $select-color-light;

    @include darkMode() {
      border-color: $select-color-dark;
    }

    &:focus {
      //border-radius: 1px;
      //border-style: solid;
      border-width: 2px;
      background-color: lighten($background-color-light, 2%);
      border-color: $select-color-light;

      @include darkMode() {
        //border-top: none;
        //border-left: none;
        //border-bottom: 1px inset;
        //border-right: 1px inset;
        background-color: lighten($background-color-dark, 2%);
        border-color: $select-color-dark;
      }
    }

    &:active {
      border-radius: 2px;
      border-style: solid;
      border-width: 2px;

      @include darkMode() {

        border-color: $select-color-dark;
      }
    }
  }
}

.login-form {
  background-color: $darker-background-color-light;

  @include darkMode() {
    background-color: $darker-background-color-dark;
  }
}

footer {
  background-color: $foreground-color-light;

  a {
    color: $select-color-light;

    @include darkMode() {
      color: $select-color-dark;
    }
  }

  @include darkMode() {
    background-color: $foreground-color-dark;
  }
}

.error {
  color: $error-color-light;

  @include darkMode() {
    color: $error-color-dark;
  }
}

